<div class="container">
    <div class="ui-g">
  
      <div class="ui-g-12">
          <h1>Pessoas</h1>
      </div>
    
      <div class="ui-g-12 ui-fluid">
        <label style="display: block;">Nome</label>
        <input pInputText type="text" style="width: 100%;"/>
      </div><br />
    
    <div class="ui-g-12">
      <p-button type="submit" label="Pesquisar"></p-button>
    </div><br />
  
    <div class="ui-g">
      <div class="ui-g-12">
        <app-pessoas-grid [pessoas]="pessoas"></app-pessoas-grid>
      </div>
      <p-paginator [rows]="10" [totalRecords]="120" [rowsPerPageOptions]="[10,20,30]"></p-paginator>
    </div><br />
  
    <div class="ui-g-12">
      <p-button type="button" label="Nova Pessoa"></p-button>
    </div>
  
    </div>
  </div>

