<div class="container">
    <div class="ui-g">
  
      <div class="ui-g-12">
          <h1>Lançamentos</h1>
      </div>
    
      <div class="ui-g-12 ui-fluid">
        <label style="display: block;">Descrição</label>
        <input pInputText type="text" style="width: 100%;"/>
      </div><br />
    
      <div class="ui-g-12 ui-fluid">
        <label style="display: block;">Vencimento</label>
        <input pInputText type="text" style="width: 95px; margin-right: 2px;"/>
    
        <label>até</label>
        <input pInputText type="text" style="width: 95px; margin-left: 2px;"/>
      </div><br />
    
    <div class="ui-g-12">
      <p-button type="submit" label="Pesquisar"></p-button>
    </div><br />
  
    <div class="ui-g">
      <div class="ui-g-12">
        <p-table [value]="lancamentos" styleClass="p-datatable-gridlines">
          <ng-template pTemplate="header">
            <tr>
                <th>Pessoa</th>
                <th>Descrição</th>
                <th styleClass="col-data">Vencimento</th>
                <th styleClass="col-data">Pagamento</th>
                <th styleClass="col-valor">Valor</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lancamento>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <button pButton pRipple title="Editar" alt="Editar"
                        type="button" icon="pi pi-pencil" class="p-mr-2 p-mb-2"></button>

                <button pButton pRipple title="Excluir" alt="Excluir"
                        type="button" icon="pi pi-trash" class="p-mr-2 p-mb-2"></button>
              </td>
          </tr>
      </ng-template>
        </p-table>
      </div>
      <p-paginator [rows]="10" [totalRecords]="120" [rowsPerPageOptions]="[10,20,30]"></p-paginator>
    </div><br />
  
    <div class="ui-g-12">
      <p-button type="button" label="Novo Lançamento"></p-button>
    </div>
  
    </div>
  </div>
